<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApp">
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title" />
        <activity
            android:name=".MentalCalculationActivity"
            android:exported="false"
            android:label="@string/math_title" />
        <activity
            android:name=".ReadingGameActivity"
            android:exported="false"
            android:label="@string/reading_title" />
        <activity
            android:name=".EnglishReadingGameActivity"
            android:exported="false"
            android:label="@string/reading_title_en" />
        <activity
            android:name=".ShopActivity"
            android:exported="false"
            android:label="@string/shop_title" />
        <activity
            android:name=".CustomizeAvatarActivity"
            android:exported="false"
            android:label="@string/customize_title" />
        <activity
            android:name=".SpellingGameActivity"
            android:exported="false"
            android:label="@string/btn_spelling_game" />
    </application>

</manifest>
